<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="InwardGoodsVB.My.MySettings.M3FDBTSTConnectionString" connectionString="Data Source=m3db;Initial Catalog=M3FDBTST;Persist Security Info=True;User ID=Query;Password=Query" providerName="System.Data.SqlClient" />
    <add name="InwardGoodsVB.My.MySettings.GunnersenConnectionString" connectionString="Data Source=m3db;Initial Catalog=Gunnersen;Persist Security Info=True;User ID=sa;Password=NewChair4JAC;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="StockOperationsServiceSoapBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="StockOperationsServiceSoapBinding1">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GLUtilitiesServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://m3be.gunnersens.com.au:21007/mws-ws/services/StockOperations"
        binding="basicHttpBinding" bindingConfiguration="StockOperationsServiceSoapBinding"
        contract="StockOperations.StockOperations" name="StockOperationsPort" />
      <endpoint address="http://m3be.gunnersens.com.au:21007/mws-ws/services/StockOperations"
        binding="basicHttpBinding" bindingConfiguration="StockOperationsServiceSoapBinding1"
        contract="wsStockOperations.StockOperations" name="StockOperationsPort1" />
      <endpoint address="http://m3be.gunnersens.com.au:21007/mws-ws/services/GLUtilities"
        binding="basicHttpBinding" bindingConfiguration="GLUtilitiesServiceSoapBinding"
        contract="wsGLUtlities.GLUtilities" name="GLUtilitiesPort" />
    </client>
  </system.serviceModel>
</configuration>